
nav{
    width: 100%;
}
#topNav {
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(35, 87, 164);
    color: white;

}
#topNav img{
    width: 19%;
}

#topLeft{
    display: flex;
    height: 40px;
    align-items: center;
    /* border: 2px solid black */
   
}

/* #topleft >img{
    width: 10%;
    border:2px solid black
} */

#topRight>img {
      width: 5%;
      height: 50%;
}

#topRight{
    display: flex;
    height: 40px;
    width: 30%;
    justify-content: space-evenly;
    align-items: center;
    /* border: 2px solid black; */
}

#middleNav{
    width: 100%;
    display: flex;
    padding-top: 5px;
    justify-content: space-around;
    background-color: #f8f8f8;
}

#search{
    width: 90%;
    border: 2px solid rgb(184, 179, 179);
    border-radius: 30px;
    font-size: 20px;
    padding: 5px;
}

.leftmiddlenav{
    display: flex;
    width: 20%;
    align-items: center;
    box-sizing: border-box;
}


.leftmiddlenav img{
    width: 40%;

}

.searchmiddlenav{
    display: flex;
    justify-content: space-around;
    width: 50%;
    padding: 10px;
    align-items: center;
}

.searchmiddlenav img{
    width: 3%;

}

.rightmiddlenav{
    display: flex;
    width: 20%;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    padding-left: 20px;
}
/* .rightmiddlenav h3{
   visibility: visible;
} */

.rightmiddlenav img{
    width: 50%;
}

#bottomNav{
    background-color: #f8f8f8;
    width: 100%;
}

 #bottomNav> ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    padding-left: 50px;
  }
  
  #bottomNav li {
    float: left;
  }
  
  #bottomNav li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: rgb(57, 55, 55);
  }



#container{
    display: flex;
    gap: 20px;
    padding: 50px;
    background-color: #f1f1f1;
}
#top{
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}
#leftCont{
    width: 70%;
    border-radius: 8px;
    background-color: white;

}

#leftTopPart{
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#rightTopPart{
    display: flex;
    width: 5%;
    align-items: center;
    gap: 10px;
}
 #top img:nth-child(1){
    width: 12%;
    height: 50px;
 }

 #top img:nth-child(2){
    width: 25%;
    height: 18px;
 }

 

#cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
    background-color: white;
    padding: 50px 20px 30px 20px;


}
#cards img{
    width: 100%;
}

#cards>div{
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#rightCont{
    border: 2px solid black;
    width: 30%;
    padding: 20px;
    box-sizing: border-box;
    height: 500px;
    border-radius: 8px;
    background-color: white;
    border: none;
}
#rightCont hr{
    height: 1px;
    background-color: black;
}


#couponBtn{
    display: block;
    margin: auto;
    background-color: white;
    color: rgb(24, 24, 145);
    font-size: 20px;
    border-color: rgb(73, 73, 183);
    width: 100%;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

#couponBtn:hover{
    background-color: rgb(41, 95, 187);
    color: white;
}

#checkoutBtn{
    background-color: rgb(0, 162, 216);
    display: block;
    margin: auto;
    color: white;
    font-size: 20px;
    border: none;
    width: 100%;
    padding: 15px 20px 15px 20px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

#checkoutBtn:hover{
    background-color:rgb(41, 95, 187) ;
}

td{
    width: 100%;
}
